* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
    /* outline: 1px solid red; */
}

p {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #222222;
    color: aliceblue;
    padding: 19px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-left {
    display: flex;
    align-items: flex-end;
    column-gap: 41px;
}

.header-right {
    display: flex;
    align-items: center;
    column-gap: 33px;
}

.header-button {
    background: none;
    border: none;
}

.promo {
    min-height: 765px;
    background-color: #F1E4E6;
}

.promo-wrap {
    min-height: 765px;
    background-image: url(../img/promo-man.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: end;
}

h1 {
    margin-right: 98px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.small-text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.pink-text {
    color: #F16D7F;
}

.content {
    flex-grow: 1;
    margin-top: 65px;
}

.offer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.offer-item {
    background-color: #C4C4C4;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-item--accesories {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/accesories.jpg);
}

.offer-item--kids {
    background-image: url(../img/for-kids.jpg);
}


.offer-item--men {
    background-image: url(../img/for-men.jpg);
}

.offer-item--women {
    background-image: url(../img/for-women.jpg);
}

.items-wrap {
    margin-top: 96px;
}

.items-text {
    margin-bottom: 48px;
}

.items-heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.items-subtitle {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.cards {}

.more-wrap {
    margin-top: 48px;
    margin-bottom: 95px;
}

.more {
    display: flex;
    justify-content: center;
}

.more-button {
    background: #fff;
    border: 1px solid #F26376;
    padding: 15px 39px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
}

.features {
    background-color: #222222;
    color: aliceblue;
    padding: 103px 0;
}

.features-wrap {
    display: flex;
    justify-content: space-between;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    Width: 360px;
    Height: 134px;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-wrap {
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-info {
    width: 359.45px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subscribe-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
}

.form-subtitle {
    font-weight: 400;
    font-size: 18px;
}

.footer {
    background-color: #222222;
    color: aliceblue;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.socials {
    height: 32px;
    width: 148px;
    display: flex;
    justify-content: space-between;
}