* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
    /* outline: 1px solid red; */
}

p {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #222222;
    color: aliceblue;
    padding: 19px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-left {
    display: flex;
    align-items: flex-end;
    column-gap: 41px;
}

.header-right {
    display: flex;
    align-items: center;
    column-gap: 33px;
}

.header-button {
    background: none;
    border: none;
}

.promo {
    min-height: 765px;
    background-color: #F1E4E6;
}

.promo-wrap {
    min-height: 765px;
    background-image: url(../img/promo-man.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: end;
}

.slogan {
    margin-right: 98px;

    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.small-slogan {

    font-weight: 700;
    font-size: 32px;
    color: #222222;
}

.pink-slogan {
    color: #F16D7F;
}

.content {
    flex-grow: 1;
    margin-top: 65px;
}

.category-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.category-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.category-item {
    background-color: #C4C4C4;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-item--accesories {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/accesories.jpg);
}

.category-item--kids {
    background-image: url(../img/for-kids.jpg);
}


.category-item--men {
    background-image: url(../img/for-men.jpg);
}

.category-item--women {
    background-image: url(../img/for-women.jpg);
}

.offer {
    margin-top: 96px;
}

.offer-text {
    margin-bottom: 48px;
}

.offer-heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.offer-subtitle {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
}

.card-content {
    padding: 24px 28px 20px 16px;
}

.card-heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    padding-bottom: 18px;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.more-wrap {
    margin-top: 48px;
    margin-bottom: 95px;
    display: flex;
    justify-content: center;
}

.more-button {
    background: #fff;
    border: 1px solid #F26376;
    padding: 15px 39px;
    font-family: 'Lato';

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    text-decoration: none;
}

.features {
    background-color: #222222;
    color: aliceblue;
    padding: 103px 0;
}

.features-wrap {
    display: flex;
    justify-content: space-between;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    Width: 360px;
    Height: 134px;
}

.feature-heading {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.callback {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.callback-wrap {
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review {
    width: 359.45px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.review-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-bottom: 30px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-right: 97px;
}

.subscribe-heading {

    font-weight: 700;
    font-size: 24px;
    line-height: 30.1px;
    text-align: center;
    color: #222224;
}

.subscribe-subtitle {
    font-weight: 400;
    font-size: 18px;
}

.subscribe-form {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.subscribe-field {
    width: 256px;
    background: #E1E1E1;
    border: none;
    color: #F16D7F;
    padding: 16px;
    padding-left: 22px;
    border-radius: 20px 0 0 20px;
    font-family: 'Lato';

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    opacity: 0.67;
}

.subscribe-field::placeholder {
    color: #222224;
}

.subscribe-button {
    padding: 16px 20px;
    background: #F16D7F;
    border: none;
    color: #fff;
    font-family: 'Lato';

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 20px 0;
}

.footer {
    background-color: #222222;
    color: aliceblue;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.socials {
    display: flex;
    justify-content: space-between;
    column-gap: 7.3px;
}

.hidden {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    clip: rect(0px 0px 0px 0px);
}